@font-face {
    font-family: Pixel;
    src: url(../fonts/Pixel.ttf);
}

.div-flappy-container {
    background-color: aqua;
    height: 700px;
    width: 1200px;
    position: absolute;
    top: 150px;
    overflow: hidden;
    display: flex;
}

.bird-container img{
    width: 50px;
    height: 40px;
    position: absolute;
    left: calc(50%);
    bottom: 30%;
    
}

.barreiras-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    position: relative;
    margin-right: 50px;
}
.barreira-bottom-container,
.barreira-top-container {
    background: linear-gradient(90deg, #639301, #A5E82E);
    width: 70px;
    display: flex;
    align-items: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.barreira-head {
    height: 50px;
    width: 90px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid black
}


.barreira-top-container {
    flex-direction: column;
}

.barreira-bottom-container {
    flex-direction: column-reverse;
}

.progresso {
    font-family: Pixel, sans-serif;
    font-size: 120px;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.game-over{
    font-family: Pixel, sans-serif;
    font-size: 160px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 220px;
    top: 250px;
    display: none;
    z-index: 1;
}